.cards {
  padding: 1rem;
  background: linear-gradient(90deg, rgb(0, 42, 102) 0%, rgb(26, 23, 23) 100%);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}

.card-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  margin-bottom: 45px;
}

 .card {
  position: relative;
  width: 200px;
  height: auto;
  border: 1px solid rgb(0, 94, 255);
  border-radius: 5px;
  overflow: hidden;
  background-color: #008bfa;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 10px;
}

.card-title {
  margin: 0;
  font-size: 1em;
  color: black;
}


.card-sub {
  width: 200px;
  height: auto;
  border: 1px solid Green;
  border-radius: 5px;
  overflow: hidden;
  background-color: Green;
  position: relative;
  cursor: pointer;
}

.card-content-sub {
  padding: 10px;
}

.card-title-sub {
  margin: 0;
  font-size: 1em;
  color: black;
}

.card-sub-a {
  width: 200px;
  height: auto;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  background-color: #FF2A2A;
  cursor: pointer;
}

.card-content-sub-a {
  padding: 10px;
}

.card-title-sub-a {
  margin: 0;
  font-size: 1em;
  color: black;
}

.card-sub-b {
  width: 200px;
  height: auto;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(183, 183, 183);
  cursor: pointer;
}

.card-content-sub-b {
  padding: 10px;
}

.card-title-sub-b {
  margin: 0;
  font-size: 1em;
  color: black;
}

.card-sub-c {
  width: 200px;
  height: auto;
  border: 1px solid rgb(238, 255, 0);
  border-radius: 5px;
  overflow: hidden;
  background-color: #FFEA00;
  cursor: pointer;
}

.card-content-sub-c {
  padding: 10px;
}

.card-title-sub-c {
  margin: 0;
  font-size: 1em;
  color: black;
}

.card-sub-d {
  width: 200px;
  height: auto;
  border: 1px solid rgb(255, 149, 0);
  border-radius: 5px;
  overflow: hidden;
  background-color: #FFA600;
  cursor: pointer;
}

.card-content-sub-d {
  padding: 10px;
}

.card-title-sub-d {
  margin: 0;
  font-size: 1em;
  color: black;
}