* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

body {
  overflow-x: hidden;
}

.teams,
.team,
.ContactTemplate,
.navbar,
.hero-container,
.footer-container,
.modal,
.org-container {
  width: 100%;
}

.teams,
.navbar,
.footer-container,
.modal {
  padding: 1rem;
}

.nav-menu,
.navbar-container {
  width: 100%;
}

.nav-menu.active {
  width: 100%;
}

.modal-content {
  width: 80%;
  max-width: 100%;
}

.ContactTemplate {
  max-width: 100%;
}

.ContactPhoto {
  width: 45px;
  height: 45px;
}

/* Maintain responsive rules for media queries */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }
  .footer-input {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .footer-link-wrapper {
    flex-direction: column;
  }
  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
  }
  .hero-container > p {
    font-size: 18px;
  }
  .btn-mobile {
    display: block;
  }
  .btn {
    width: 100%;
  }
}
